@model IEnumerable<demoLog.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @foreach (var item in Model)
    {
        <div class="well">
            <h3>
                @Html.ActionLink(item.FirstMidName, "Details", new { id = item.ID }) @Html.ActionLink(item.LastName, "Details", new { id = item.ID }) <small class="pull-right"><p>Course: @Html.DisplayFor(modelItem => item.Course)</p></small>
            </h3>
            
        </div>
    }
</div>
